polyfills.js:3 Unhandled Promise rejection: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4 ; Zone: <root> ; Task: Promise.then ; Value: Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076 Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076
n.onUnhandledError @ polyfills.js:3
polyfills.js:3 Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076
    at c (http://localhost:8100/build/polyfills.js:3:13535)
    at c (http://localhost:8100/build/polyfills.js:3:13221)
    at http://localhost:8100/build/polyfills.js:3:14067
    at t.invokeTask (http://localhost:8100/build/polyfills.js:3:9967)
    at r.runTask (http://localhost:8100/build/polyfills.js:3:5143)
    at o (http://localhost:8100/build/polyfills.js:3:2203)
    at <anonymous>
n.onUnhandledError @ polyfills.js:3
polyfills.js:3 Unhandled Promise rejection: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4 ; Zone: <root> ; Task: Promise.then ; Value: Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076 Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076
n.onUnhandledError @ polyfills.js:3
polyfills.js:3 Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
Error: Template parse errors:
Can't bind to 'ngForIn' since it isn't a known property of 'div'. ("
 
<ion-content padding>
    <div [ERROR ->]*ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{element}"): ng:///AppModule/HomePage.html@9:9
Property binding ngForIn not used by any directive on an embedded template. Make sure that the property name is spelled correctly and all directives are listed in the "@NgModule.declarations". ("
 
<ion-content padding>
    [ERROR ->]<div *ngFor="let element in toDisplay">
        <button #theButton (click)="onClick(theButton)">{{ele"): ng:///AppModule/HomePage.html@9:4
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076
    at syntaxError (http://localhost:8100/build/vendor.js:76739:34)
    at TemplateParser.parse (http://localhost:8100/build/vendor.js:87230:19)
    at JitCompiler._compileTemplate (http://localhost:8100/build/vendor.js:100981:39)
    at http://localhost:8100/build/vendor.js:100905:62
    at Set.forEach (native)
    at JitCompiler._compileComponents (http://localhost:8100/build/vendor.js:100905:19)
    at createResult (http://localhost:8100/build/vendor.js:100790:19)
    at t.invoke (http://localhost:8100/build/polyfills.js:3:9283)
    at r.run (http://localhost:8100/build/polyfills.js:3:4452)
    at http://localhost:8100/build/polyfills.js:3:14076
    at c (http://localhost:8100/build/polyfills.js:3:13535)
    at c (http://localhost:8100/build/polyfills.js:3:13221)
    at http://localhost:8100/build/polyfills.js:3:14067
    at t.invokeTask (http://localhost:8100/build/polyfills.js:3:9967)
    at r.runTask (http://localhost:8100/build/polyfills.js:3:5143)
    at o (http://localhost:8100/build/polyfills.js:3:2203)
    at <anonymous>
n.onUnhandledError @ polyfills.js:3
